* {
    padding: 0;
    margin: 0;
}

body {
    margin: 30px;
    height: 100vh;
    width: 100%;
    background-color: rgba(57, 57, 57, 0.7);
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(153, 153, 153);
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    justify-items: center;
    align-items: center;
    border: 5px solid rgb(160,160,160);
    border-radius: 30px;;
}

.output {
    display: flex;
    background-color: inherit;
    height: 20%;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.display {
    font-size: x-large;
    background-color: inherit;
    color: white;
    border: 0;
    outline: 0;
    size: 100%;
}

.buttons{
    height: 78%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: stretch;
    background-color: inherit;
    border-radius: inherit;
}


button {
    width: calc(25%);
    padding: 5px;
    color: white;
    border: none;
    margin: 0 auto;
    border-radius: 15px;
  }

.number{
    background-color: rgb(70, 70, 70);
  }

  .operator {
    background-color: orangered;
  }

.delete {
    width: calc(50%);
  }

.zero {
  width: calc(75%);
}

.button-change {
    display: flex;
    background-color: rgb(153, 153, 153);
    width: 300px;
    height: 50px;
    margin: 20px auto;
    padding: 0;
    justify-items: center;
    align-items: stretch;
    border: 5px solid rgb(160,160,160);
    border-radius: 30px;;
}

.change-style {
  background-color:inherit;
  width: 300px;
  height: 50px;
  border: 5px solid inherit;
}

.number:hover {
    cursor: pointer;
    background-color: rgb(204, 200, 200);
    color:black;
    font-weight: bold;
  }

.operator:hover {
    cursor: pointer;
    background-color: rgb(204, 200, 200);
    color:black;
    font-weight: bold;
  }

.change-style:hover {
    cursor: pointer;
    background-color:inherit;
    color:black;
    font-weight: bold;
  }




